.menu-block .pic.m1 {
  background: url("i/img2.png") top center no-repeat;
}

.menu-block .pic.m2 {
  background: url("i/img3.png") top center no-repeat;
}


.menu-block .pic.m3 {
  background: url("i/img4.png") top center no-repeat;
}


.menu-block .pic.m4 {
  background: url("i/img5.png") top center no-repeat;
}


.menu-block .pic.m5 {
  background: url("i/img1.png") top center no-repeat;
}


.menu-block .pic.m6 {
  background: url("i/susi.png") top center no-repeat;
}


.menu-block .pic.m7 {
  background: url("i/pizza.jpg") center no-repeat;
}


.menu-block .pic.m8 {
  background: url("i/shashlak.jpg") center no-repeat;
}

.menu-block .pic.m9 {
  background: url("i/img1.jpg") center no-repeat;
}


